<!DOCTYPE html>
<html lang="en">
  <head>
    <title>dashboard</title>
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="3 days" name="revisit-after">
    <!-- build:css /dashboard/styles/main.css-->
    <link href="/dashboard/styles/foundation.min.css" rel="stylesheet">
    <link href="/dashboard/styles/normalize.css" rel="stylesheet">
    <link href="/dashboard/styles/font-awesome.css" rel="stylesheet">
    <link href="/dashboard/styles/radio.css" rel="stylesheet">
    <link href="/dashboard/styles/jquery.gridster.css" rel="stylesheet">
    <link href="/dashboard/styles/main.css" rel="stylesheet">
    <!-- endbuild-->
    <!-- Footer-->
    <footer></footer>
    <!-- build:js /dashboard/scripts/main.js-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="https://www.google.com/jsapi?autoload={&quot;modules&quot;:[{&quot;name&quot;:&quot;visualization&quot;,&quot;version&quot;:&quot;1&quot;,&quot;packages&quot;:[&quot;corechart&quot;,&quot;map&quot;,&quot;table&quot;]}]}"></script>
    <script src="/dashboard/scripts/jquery-2.1.1.min.js"></script>
    <script src="/dashboard/scripts/modernizr.js"></script>
    <script src="/dashboard/scripts/foundation.min.js"></script>
    <script src="/dashboard/scripts/jquery.gridster.js"></script>
    <script src="/dashboard/scripts/radio.js"></script>
    <script src="/dashboard/scripts/google.js"></script>
    <script src="/dashboard/scripts/main.js"></script>
    <!-- endbuild-->
  </head>
</html>